@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient {
    @apply bg-gradient-to-r from-blue-800 via-gray-600 to-pink-600;
  }
  .faded-text {
    @apply font-bold text-sm text-gray-400;
  }
  .divider {
    @apply w-full h-0.5 my-6 bg-gray-800;
  }
}

@layer components {
.loader {
  position: absolute;
  top: 0;
  bottom: 1%;
  left: 0;
  right: 0;
}

.primary-loading:before,
.primary-loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.primary-loading:before {
  left: -19.992px;
}

.primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.primary-loading:before,
.primary-loading:after,
.primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.2s !important;
  animation-delay: 0.2s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}
}
